.hidden {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 193, 245);
    color:black
}

header {
    background-color: white;
    padding: 10px 0;
}